body,
main {
  height: 100dvh;
  background-color: #0f0f0f;
  color: whitesmoke;
  font-family: "Helvetica Neue";
  overflow: hidden;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  line-height: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
